<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">    
    </head>
       <body>  
            <form id='increaseone' action="/increaseone/" method="post">     
              <input type="text" name="username"  /><br />
              <input type="password" name="password"   /><br />
              <input type="text" name="age"   /><br />
              <input type="text" name="email"   /><br />
              <input type="text" name="IPhone"   /><br /> 
              <input type="submit" value="确认添加">            
           </form>          
    </body>
</html>
