.wenzijuli {
    margin-left: -115px !important;
}

.caidanlankuandu {
    width: 11% !important;
}

.you_right {
    margin-right: -95px;
}


.tubiao1 {
    color: #428fb9;
}

 .juli2 {
    margin-top: 35px;
}