.wenzijuli {
    margin-left: -115px !important;
}

.caidanlankuandu {
    width: 11% !important;
}

.you_right {
    margin-right: -95px;
}


.tubiao1 {
    color: #428fb9;
}

.tubiao2 {
    color: red;
}

.tubiao3 {
    color: #fff;
}

 .juli2 {
    margin-top: 35px;
}

 /* 资产查询按钮输入框距离 */
