<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                   <td>ip</td>
                   <td>url</td>
                   <td>status</td>
                   <td>count</td>
                </tr>
            </thead>
            <tbody>
            <!-- logs是引用后端Flask程序的变量，它是一个没有排过序的列表，在循环后，每行就排序完了 -->
            {% for log in logs %}
                <tr>
                    <td>{{log[2][0]}}</td>
                    <td>{{log[1]}}</td>
                    <td>{{log[0]}}</td>
                    <td>{{log[2][1]}}</td>
                </tr>
             {% endfor %}
             </tbody>
         </table>
    </body>
</html>
