[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
default-storage-engine = innodb
collation-server = utf8_general_ci
init-connect = 'SET NAMES utf8'
symbolic-links=0
character-set-server=utf8
innodb_file_per_table=1
innodb_file_io_threads=4
innodb_open_files=2048
innodb_buffer_pool_size=10G
innodb_additional_mem_pool=16M
innodb_thread_concurrency=16
innodb_max_dirty_pages_pct=90

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

